 adium-theme-ubuntu==0.3.4
bottle==0.12.10
click==6.6
Django==1.10.4
Flask==0.11.1
gunicorn==19.6.0
gyp==0.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
nltk==3.2.1
numpy==1.11.2
oauthlib==2.0.1
Pillow==3.4.2
pygobject==3.20.0
requests==2.12.1
requests-oauthlib==0.7.0
six==1.10.0
tweepy==3.5.0
unity-lens-photos==1.0
vboxapi==1.0
virtualenv==15.1.0
Werkzeug==0.11.11
youtube-dl==2016.2.22
gunicorn==19.6.0
