

@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@font-face {
	font-family: Hoefler;
	src: url(Hoefler.ttf);
}

html {
	min-height: 100%;
}

body {
	background-color: #EFEFF4;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

h1 {
	font-family: 'Inconsolata', sans-serif;
	font-size: 5.8vmax;
	font-weight: 400;
	color: #000000;
}

h3, h4, h5, h6 {
	font-family: 'Inconsolata', sans-serif;
	color: #555;
}

p {
 	font-family: 'Inconsolata',  sans-serif;
	color: rgb(40, 40, 40);
	font-weight: 400;
	font-size: 1.8vmax;
	line-height: 135%;
	text-indent: 5vmin;
}

.btn {
	background-color: #007AFF;
	font-family: 'Inconsolata';
	font-size: 2.6vmax;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding-top: 3vmax;
	padding-bottom: 3vmax;
	width: 100%;
	border-radius: 0px;
}

.container-fluid {
	padding-right: 10vmax;
	padding-left: 10vmax;
	min-height: 100% !important;
}

/* iPhone 6 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	.container-fluid {
		padding-right: 5.2vmax;
		padding-left: 5.2vmax;
		min-height: 100% !important;
	}

	h1 {
		font-family: 'Inconsolata', sans-serif;
		font-size:1.2vmax;
		font-size: 6vmax;
		font-weight: 400;
		color: #000000;
	}

	h3, h4, h5, h6 {
		font-family: 'Inconsolata', sans-serif;
		color: #555;
	}

	p {
	 	font-family: 'Inconsolata',  sans-serif;
		color: rgb(40, 40, 40);
		font-weight: 400;
		font-size: 2.1vmax;
		line-height: 135%;
		text-indent: 5vmin;
	}
}

/* iPhone 5 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {

}

/* iPhone 4 */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


}



.row {
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.well {
	width: 97.45%;
	display: table;
	padding-right: 5vw;
	padding-left: 5vw;
}

footer {
	bottom: 0;
	width: 100%;
	margin: 0 auto;
	margin-top: 10vh;
}

.footer-p p {
	font-family: 'Inconsolata';
	color: #555;
	font-size: 1.2vmax;
	line-height: 135%;
	text-align: center;
}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color rgb(200, 200, 200);
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
  margin-right: 20%;
  margin-left: 20%
}

a {
	color: #007AFF;
}

a:hover {
	text-decoration: none;
	opacity: 0.5;
}

/*
.spacer-vert {
	margin-top: 1.2vmax;
	margin-bottom: 1.2vmax;
}

.btn {
	background-color: #007AFF;
	font-family: 'Roboto';
	font-size: 2.6vmax;
	letter-spacing: 1px;
	color: #FFFFFF;
	padding-top: 3vmax;
	padding-bottom: 3vmax;
	width: 100%;
	border-radius: 0px;
}

a:hover {
	text-decoration: none;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color rgb(50, 50, 50);
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.footer-bg {
	width: 100%;
	padding-top: 2.5vmax;
	background-color: #DCDCE0;
}

.footer-bg p {
	font-family: 'Roboto';
	color: #555;
	font-size: 1.3vmax;
	line-height: 135%;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2.5vmax;
}

.row {
	max-width: 100%;

}*/